# Ignorar arquivos temporários do Jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Ignorar arquivos compilados do Python
__pycache__/
*.py[cod]

# Ignorar pastas de ambiente virtual (caso crie alguma localmente)
.env
.venv
env/
venv/